#tweezPanel
{
  padding: 4px;
}

#tweezEditBox
{
  min-height: 200px; 
}

#tweezInput
{
  width: 300px;
  min-height: 50px; 
  max-height: 50px; 
  font-size: 2em;
}

#tweezImage
{
  list-style-image: url("chrome://tweez/skin/tags-64x64.png");
  max-height: 64px;
  max-width: 64px;
  margin: 4px;
}

.expander-up,
.expander-down {
  -moz-appearance: none;
  margin-left: 8px;
  padding: 0;
  min-width: 0;
}

.expander-up {
	list-style-image: url("chrome://browser/skin/places/expander-open.png") !important;
}

.expander-down {
	list-style-image: url("chrome://browser/skin/places/expander-closed.png") !important;
}

.expander-down:hover:active {
	list-style-image: url("chrome://browser/skin/places/expander-closed-active.png") !important;
}

.expander-up:hover:active {
	list-style-image: url("chrome://browser/skin/places/expander-open-active.png") !important;
}

